<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="text-white" style="font-family: 'Red Hat Display', sans-serif;">
          <span style="color: #ee0000;">Exa</span>rep
        </h5>
        <p class="small">A fictitious retail electric provider built to demonstrate Red Hat technologies.</p>
        <p class="small fst-italic">PUCT Certificate #NOTREAL</p>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-white">Company</h6>
        <ul class="list-unstyled small">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/plans">Plans</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-white">Resources</h6>
        <ul class="list-unstyled small">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Your Rights as a Customer</a></li>
          <li><a href="#">Electricity Facts Labels</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-white">"Contact"</h6>
        <ul class="list-unstyled small">
          <li>1-888-LOLNO</li>
          <li>/dev/null</li>
          <li>Hours: when the pod is running</li>
        </ul>
      </div>
    </div>
    <hr style="border-color: #383838;">
    <div class="row">
      <div class="col text-center small">
        <p>&copy; {{ currentYear }} Exarep. Not a real company. Not licensed by anyone. Powered by Red Hat OpenShift, vibe coding, and caffeine.</p>
      </div>
    </div>
  </div>
</footer>
